.container{
    width: 90%;
    max-width: 1600px;
    padding: 30px;
}

.container-welcome{
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.form{
    max-width: 600px;
    margin: auto;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.card{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
}